* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    width: 120px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.nav-links li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 85vh;
}

.hero-content h1 {
    font-size: 45px;
    line-height: 1.3;
}

.hero-content span {
    color: #ff004f;
}

.hero-content p {
    font-size: 22px;
    margin: 15px 0;
}

.social-icons a {
    color: white;
    font-size: 22px;
    margin-right: 15px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ff004f;
}

.cv-button {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #ff004f;
    color: white;
    text-decoration: none;
    border-radius: 30px;
}

.hero-image img {
    width: 320px;
    border-radius: 50%;
    border: 6px solid #ff004f;
}

.fa-solid {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 600px) {

    .navbar {
        position: relative;
    }

    .menu-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
        z-index: 2000;
    }

    .nav-links{
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: purple;
        flex-direction: column;
        padding: 80px 30px;
        transition: 0.4s ease;
        z-index: 1500;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links li a {
        font-size: 20px;
        color: white;
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
    }
}

@media only screen and (max-width: 600px) {

    .hero-wrapper {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero-image {
        display: none;
    }

    .hero-content {
        margin-top: 40px;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .social-icons a {
        font-size: 20px;
        margin: 10px;
    }
}

#Skill {
    width: 100%;
    min-height: 100vh;
    padding: 25px 0;
}

.skills-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 0 6%;
    background-color: white;
}

.skills-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: black;
}

.skill-box {
    margin-bottom: 25px;
}

.skill-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.skill-info i {
    font-size: 26px;
    margin-right: 10px;
}

.skill-info span {
    flex: 1;
}

.percent {
    font-weight: bold;
}

.skill-bar {
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    border-radius: 20px;
    animation: load 1.5s ease-in-out;
}

.html {
    color: #e34c26;
}

.css {
    color: #264de4;
}

.js {
    color: #f0db4f;
}

.react {
    color: #61dafb;
}

.node {
    color: #3c873a;
}

.mongo {
    color: rgb(218, 69, 94);
}

.java {
    color: #800080
}

.mysql {
    color: #333;
}

.html-bar {
    width: 90%;
    background: #e34c26;
}

.css-bar {
    width: 85%;
    background: #264de4;
}

.js-bar {
    width: 60%;
    background: #f0db4f;
}

.react-bar {
    width: 60%;
    background: #61dafb;
}

.node-bar {
    width: 20%;
    background: #3c873a;
}

.mongo-bar {
    width: 60%;
    background: rgba(218, 69, 94);
}

.java-bar {
    width: 90%;
    background-color: #800080;
}

.mysql-bar {
    width: 80%;
    background-color: #333;
}

#project {
    width: 100%;
    min-height: 100vh;
    padding: 30px 0;
}

.project-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 0 8%;
}

.project-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: white;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;

}

.project-list div {
    background-color: white;
    padding: 30px;
    font-size: 15px;
    color: black;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}

.project-list div i {
    font-size: 50px;
    margin-bottom: 15px;
}

.project-list div h2 {
    margin-bottom: 10px;
}

.project-list div a {
    text-decoration: none;
    color: blue;
    display: inline-block;
    margin-top: 30px;
}

.project-list div:hover {
    background-color: #ff004f;
    transform: translateY(-10px);
    color: wheat;
}

#contact {
    width: 100%;
    padding: 60px 0;
    background: #f9f9f9;
    position: relative;
    z-index: 1;
}

.contact-container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 270px;
}

.contact-left .sub-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ff004f;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.contact-left {
    flex: 1;
}

.contact-items {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0;
}

.contact-items i {
    font-size: 18px;
    color: black;
}

.contact-items span {
    font-size: 16px;
    color: #333;
}


.contact-left p {
    margin: 10px 0;
    font-size: 16px;
    color: #000;
}

.social {
    margin-top: 20px;
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    margin-bottom: 30px;
}

.social a:hover {
    background: #0077b5;
}

.cv {
    padding: 12px 25px;
    background: #ff004f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;

}

.contact-right {
    flex: 1;
}

.contact-right form {
    display: flex;
    flex-direction: column;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.contact-right textarea {
    resize: none;
    height: 120px;
}

.contact-right button {
    width: 150px;
    padding: 12px;
    border: none;
    background:  #ff004f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.contact-right button:hover {
    background: #444;
}

.copyright {
    width: 100%;
    background: #111;
    padding: 15px 0;
    text-align: center;
}

.copyright p {
    color: #bbb;
    font-size: 14px;
    margin: 0;
}

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .skills-container,
    .project-container,
    .contact-container {
        padding: 0 15px;
    }

    #Skill,
    #project,
    #contact {
        min-height: auto;
    }

    .contact-right button {
        width: 100%;
    }
}